* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}

header {
    background: #000;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: white;
}
header nav ul {
    display: flex;
}
header nav ul li a {
    display: inline-block;
    color: #fff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    text-transform: uppercase;
    transition: 0.2s;
}
header nav ul li a:hover,
header nav ul li a.active {
    border-bottom-color: #fff;
}
.hamburger {
    cursor: pointer;
    display: none;
}
.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #fff;
}
main {
    font-family: 'Roboto', sans-serif;
}
/*===================================================*/
.landingpage {
    position: relative;
    height: 100vh;
    width: 100%;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100vh;
    padding: 50px;
    box-shadow: 0 30px 50px #230C4A;
    object-fit: fill;
}

#slide {
    width: max-content;
}
.item {
    width: 100px;
    height: 150px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top: 15%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #230C4A;
    object-fit: fill;   
}

.item:nth-child(1), .item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 70%;
}

.item:nth-child(4) {
    left: calc(70% + 110px);
}
.item:nth-child(5) {
    left: calc(70% + 220px);
}
.item:nth-child(n+6) {
    left: calc(70% + 330px*n);
    opacity: 0;
}
.item .content {
    position: absolute;
    background-color: rgb(15, 4, 34);
    border: 1px black solid;
    border-radius: 10px;
    top: 80%;
    left: 60%;
    width: 550px;
    text-align: center;
    padding: 20px;
    color: #fff;
    transform: translate(0, -50%);
    display: none;
    font-family: 'Roboto', sans-serif;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

.item .name {
    font-size: 30px;
    font-weight: 500;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards;
    margin-bottom: 5px;
}

.item .des {
    font-size: 20px;
    font-weight: 100;
    opacity: 0;
    animation: showcontent 1.3s ease-in-out 1 forwards;
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0,100px);
        filter: blur(33px);
    }
    to {
        opacity: 1;
        transform: translate(0,0px);
        filter: blur(0px);
    }
}

.buttons {
    position: absolute;
    bottom: 30px;
    z-index: 22222;
    text-align: center;
    width: 100%;  
}
.buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #555 solid;
    transition: 0.5s;
}
.buttons button:hover {
    background-color: #10100c;
}

.title {
    height: 100px;
}


/*==================================================*/

/*FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    color: white;
    gap: 2rem;
    padding: 20px 0;
}

.socmed {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.icons img {
    height: 50px;
    width: 50px;
}


/*================================================*/

/*Responsive of Website*/
@media only screen and (max-width: 900px) {
    header {
        padding: 0 30px;
    }
}
@media only screen and (max-width: 700px) {
    .hamburger {
        display: block;
    }
    
    .headerpart p {
    font-size: 20px;
    font-weight: 300;
    }
    
    header nav {
        position: absolute;
        width: 100%;
        left: -100%;
        top: 70px;
        width: 100%;
        background: #04040c;
        padding: 30px;
        transition: 0.3s;
        z-index: 33333;
    }
    header #nav_check:checked ~ nav {
        left: 0;
    }
    header nav ul {
        display: block;
    }
    header nav ul li {
        text-align: center;
    }
    header nav ul li a {
        margin: 5px 0;
    }
    
    /*=============================================*/
    .item {
    width: 50px;
    height: 100px;
    }

    .item:nth-child(3) {
    left: 70%;    
    }

    .item:nth-child(4) {
    left: calc(70% + 70px);
    }
    .item:nth-child(5) {
    left: calc(70% + 140px);
    }
    .item:nth-child(n+6) {
    left: calc(70% + 210px*n);
    opacity: 0;
    }
    
    
    .item .content {
    width: 250px;
    top: 80%;
    left: 5%;
    }
    
    .content .name, 
    .content .des {
        font-size: 15px;
    }
}
